* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"), url(./fonts/SourceSansPro-Regular.otf) format(otf);
}
@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"), url(./fonts/SourceSansPro-Semibold.otf) format(otf);
  font-weight: 600;
}
@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"), url(./fonts/SourceSansPro-Bold.otf) format(otf);
  font-weight: 700;
}
@font-face {
  font-family: "MinionPro";
  src: local("MinionPro"), url(./fonts/MinionPro-MediumIt.woff) format(woff);
  font-weight: 500;
}
html,
body {
  font-family: "MinionPro", "SourceSansPro", sans-serif;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

.headerMain {
  background: linear-gradient(180deg, #06255B 0%, rgba(6, 37, 91, 0) 100%), url("/img/Main-Img.jpg") center no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: none;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}

.header__logo img {
  width: 263px;
  height: 46px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header__item a {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.header__button-column {
  display: flex;
  gap: 16px;
}

.header__button {
  background-color: #DA5D24;
  padding: 19px 18px;
}
.header__button a {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 600;
  letter-spacing: 0.3;
}

.header__lang-column {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 18px 15px;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 3px;
}
.header__lang img {
  width: 12px;
  height: 12px;
}
.header__lang a {
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #06255B;
}

.main {
  height: 1000px;
}/*# sourceMappingURL=Mollenhauer-style.css.map */