@mixin h1 {
	font-family: sans-serif;
	font-size: 54px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -1.465px;
	color: #F7F7F7;
}

@mixin text-25px {
	font-family: sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 110%;
	color: $colorWhite;
}

@mixin text-21px {
	font-family: sans-serif;
	font-size: 21px;
	font-weight: 900;
	line-height: 85%;
	color: $colorWhite;
}

@mixin text-15px {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	color: $colorWhite;
}