@import "_Mollenhauer-null.scss";
@import "_Mollenhauer-mixin.scss";
// /* Null-Style */

$colorWhite: #fff;
$colorNightBlue: #06255B;

html,
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

._countainer {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    padding: 0px 15px;
    box-sizing: content-box;
    margin: 0 auto;
}

.headerMain {
    background: linear-gradient(180deg, #06255B 0%, rgba(6, 37, 91, 0.00) 100%), url('/img/Main-Img.jpg') center no-repeat;
    background-size: cover;
}

////// HEADER ////////////////
.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
	background: none;
}

.header__countainer {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    padding-left: 15px;
    box-sizing: content-box;
    margin: 0 auto;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding-top: 37px;
}

.header__logo {
    margin-bottom: 55px;

	img {
		width: 263px;
		height: 46px;
	}
}

.header__navigation {
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.header__item {
	a {
        @include text-15px;
	}
}

.header__button-column {
    display: flex;
    gap: 16px;
}

.header__button {
    background-color: #DA5D24;
    padding: 19px 18px;

    a {
        @include text-15px;
        font-weight: 600;
        letter-spacing: 0.3;
    }
}

.header__lang-column {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $colorWhite;
    padding: 18px 15px;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 3px;

    img {
        width: 12px;
        height: 12px;
    }

    a {
        @include text-15px;
        color: $colorNightBlue;
    }
}

.main {
    height: 1000px;
}

.main__countainer {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    padding: 0px 316px 0px 166px;
    box-sizing: content-box;
    margin: 0 auto;
}

.main__body {
    margin: 140px 0px 340px;
}

.main__title {
    @include h1;

    span {
        @include h1;
        font-weight: 700;
    }
}

.main__text {
}

.main__button-column {
}

.main__button {
}